<form class="example-form">
  <md-form-field class="example-full-width">
    <input mdInput #username placeholder="用户名" maxlength="10" [(ngModel)]="username" required>
    <md-hint align="end">{{username.value.length}} / 10</md-hint>
  </md-form-field>

  <app-email></app-email>

  <md-form-field class="example-full-width">
    <input mdInput type="password" placeholder="密码">
  </md-form-field>

  <md-form-field class="example-full-width">
    <input mdInput type="password" placeholder="确认密码">
  </md-form-field>
</form>
